<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object img-rounded" ng-src="{{employee.image}}">
                </div>
                <div class="media-body">
                    <h2 class="media-heading">
                        {{employee.name}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>