<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="query.lastName" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">
            <div ng-controller="CarouselDemoCtrl" id="slides_control">
                <div>
                    <carousel interval="myInterval">
                        <slide ng-repeat="emp in employees" active="slide.active">
                            <img ng-src="{{emp.photoSrc}}">
                            <div class="carousel-caption">
                                <h4>{{emp.lastName + ', ' + emp.firstName}}</h4>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
</div>