<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="query.lastName" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body">
            <div id="slides_control">
                <div class="slide-show ">
                    <carousel interval="slideInterval">
                        <slide ng-repeat="emp in employees| filter:query | orderBy:'lastName':true" active="slide.active">
                            <a href="/employees/{{emp._id}}">
                                <img class="media-object img-rounded" ng-src="{{emp.photoSrc}}">
                                <div class="carousel-caption">
                                    {{emp.lastName + ', ' + emp.firstName}}
                                </div>
                            </a>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
</div>